
:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

.mat-form-field{
    display: block;
}

.mat-form-field-wrapper{
    position: relative;
    margin-bottom: 10px;
}

form{
        width: 33%;
        margin: 0 auto;
        padding: 60px;
    }

button{
    background: #00c8b3;
    color: #ffffff;
    border-radius: 25px; 
    padding: 10px 20px;
    width: 100%;
    border: 1px solid;
    transition: 0.3s;
}

button:hover{ opacity: 70%;}

button:disabled{
   color: #dddcdc;
   background: #f6f6f6;
}

button:disabled:hover{
    opacity: 1;
 }

